[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-cors-headers = "*"
djangorestframework = "*"
mysqlclient = "*"
google-cloud-bigquery = {extras = ["bqstorage", "pandas"], version = "*"}

[dev-packages]

[requires]
python_version = "3.10"
